<!DOCTYPE HTML>

<h1> Git Search </h1>
<html lang="en" ng-app="GitUserSearch">
  <head>
    <meta charset="utf-8">
    <title>Github user search</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/gitUserSearchController.js"></script>
  </head>
  <center>
  <body ng-controller="GitUserSearchController">
    

    <div>
      <form class="form-horizontal">
        <input type="text" class="textbox" ng-model="searchTerm" ng-change="doSearch()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 400, 'blur': 0}}">
        <button class="btn" ng-click="doSearch()">Search</button>
      </div>
      </form>
      <ul class="list-group" ng-repeat="user in searchResult.items">
        <li>
           <img ng-src="{{user.avatar_url}}&s=50" width="75px" height="75px">
           <a ng-href="{{user.html_url}}">{{user.login}}</a>
           <p>{{user.public_repos}}</p>
        </li>
      </ul>
    </div>
  </body>
</center>
</html>

<!-- <div ng-show="loaded">

      <h2> {{user.name}}
         <span class="smallname">(@<a href="{{user.html_url}}" target="_blank"> {{user.login}} </a>)</span>
      </h2>

      <div class="ghcontent">
         <div class="avi">
            <a href="{{ user.html_url }}" target="_blank">
               <img src="{{ user.avatar_url }}" width="80" height="80" alt="{{ user.login }}"></a>
         </div>
         Followers: {{ user.followers }} - Following: {{ user.following }}<br>Repos: {{ user.public_repos }}</p>
      </div>

      <div class="repolist clearfix">
         <p ng-hide="reposFound">No repos!</p>

         <div ng-show="reposFound">
            <p><strong>Repos List:</strong></p>
            <ul ng-repeat="repo in repos">
               <li><a href="{{repo.html_url}}" target="_blank"> {{repo.name}} </a></li>
            </ul>
         </div>
      </div>
   </div> -->
